<!-- <!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WanderLust</title>
  </head> -->
<% layout('/layouts/boilerplate') -%>
<body>
  <div class="row mt-3">
    <div class="col-6 offset-3">
      <!-- <br><br><br> -->
      <h3>Create a New Listing</h3>

      <form action="/listings" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            type="text"
            name="listing[title]"
            id="title"
            class="form-control"
            placeholder="Add a catchy title"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            type="text"
            name="listing[description]"
            id="description"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Please enter a short description!</div>
        </div>
        <!-- image input tag below -->
        <div class="mb-3">
          <label for="image" class="form-label">Upload Listing Image</label>
          <input
            type="file"
            name="listing[image]"
            id="image"
            class="form-control"
            required 
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              id="price"
              class="form-control"
              placeholder="₹1200"
              required
            />
             <div class="invalid-feedback">Price should be valid!</div>
          </div>
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              type="text"
              name="listing[country]"
              id="country"
              class="form-control"
              placeholder="India"
              required
            />
             <div class="invalid-feedback">Country name should be valid!</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            type="text"
            name="listing[location]"
            id="location"
            class="form-control"
            placeholder="Jaipur, Rajasthan"
            required
          />
           <div class="invalid-feedback">Location should be valid!</div>
        </div>

        <!-- <br /><br /> -->
        <button class="btn btn-dark add-btn mt-3 mb-3">Add</button>
        <!-- <br /><br /> -->
      </form>
    </div>
  </div>
</body>
<!-- </html> -->
